.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.searchForm{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding:10px;
  border-radius: 4px;
}

.search-button{
  background: lightcoral;
  padding:10px 15px;
  margin-left: 10px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}