.recipe{
    border-radius: 10px;
    margin:20px;
    box-shadow: 0 5px 20px grey;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    min-width: 400px;
}

.image{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}